@page "/Estudiante"
 <h1>Registro de Estudiantes</h1>
 
<label for="">ID</label>

<input type="text">

<label for="">Nombre</label>

<input type="text">

<label for="">Apellido</label>

<input type="text">

<label for="">FechaNacimiento</label>

<input type="text">

<label for="">Matricula</label>

<input type="text">

<label for="">Carrera</label>

<input type="text">
